.footer{
    display: flex;
    justify-content: center;
    background-color: #F5F8FA;
    margin-top: 50px;

    > div{
        display: table;
        width: 95%;
        max-width: 700px;
        display: flex;
        margin: 50px 0;
        justify-content: space-between;
    }

    li:not(:first-of-type){
        font-weight: 400;
        opacity: 0.7;
    }
}